body {
  background-color: #fbfff8;
}

h1 {
  text-align: center;
  font-size: xx-large;
}
.center{
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
table {
  border-style: solid;
  border-color: #344e41;
  padding: 3px;
}
th,
td {
  border: 1.6px solid;
  border-color: #588157;
  padding: 8px;
}
.date-and-time {
  color: #344e41;
  font-style: bold;
  background-color: #a3b18a;
}
#WMA {
  text-align: center;
  font-size: x-large;
  color: #a3b18a;
  background-color: #344e41;
}
#ve {
  background-color: #5f723f;
  font-size: x-large;
  color: #dfe6e3;
  text-align: center;
}
#gd {
  text-align: center;
  font-size: x-large;
  color: #d0e3db;
  background-color: #4a6f4a;
}
#ai {
  font-size: x-large;
  background-color: #a4a194;
  color: #e7e5e0;
  text-align: center;
}
#cco {
  text-align: center;
  font-size: x-large;
  background-color: rgb(62, 74, 85);
  color: aliceblue;
}
#nill {
  background-color: rgb(243, 247, 251);
}
#fp {
  background-color: rgb(169, 158, 142);
  color: rgb(252, 242, 229);
  text-align: center;
  font-size: x-large;
}
#namaz {
  writing-mode: vertical-lr;
  text-align: center;
  font-size: x-large;
  color: #344e41;
  background-color: #a3b18a;
  font-weight: bolder;
}
